<div class="container profile-update">
    <form class="form-horizontal form-update" role="form" name="CreateProjectForm">
        <legend class="text-center">Edit Project</legend>
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title:</label>
            <div class="col-sm-10">
                <input type="text" name="title" required="required" id="title" tabindex="1"
                       class="form-control" placeholder="Title" value=""
                       ng-model="project.title" validator="required" required-error-message="Please enter title"
                       minlength="5">

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Description:</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" id="email" class="form-control form-validation"
                          placeholder="Description"
                          ng-model="project.description"
                          validator="required" email-error-message="Please enter a description"
                          message-id="descriptionWatch" rows="5" required minlength="5"></textarea>
                <span id="descriptionWatch"><p class="validation-invalid ng-scope">Please enter a description</p></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="position">Admins:</label>
            <div class="col-sm-10" id="position">
                <select class="js-example-basic-multiple" multiple="multiple" style="width:100%"
                        ng-model="project.admins">
                    <optgroup label="Front-End">
                        <option ng-repeat="front in users.frontEnds" value="{{front._id}}">{{front.name}}</option>
                    </optgroup>
                    <optgroup label="Back-End">
                        <option ng-repeat="back in users.backEnds" value="{{back._id}}">{{back.name}}</option>
                    </optgroup>
                    <optgroup label="Full-Stack">
                        <option ng-repeat="full in users.fullStack" value="{{full._id}}">{{full.name}}</option>
                    </optgroup>
                </select>
                <!-- <tags-input ng-model="project.admins"
                  placeholder="Add a superhero"
                  add-from-autocomplete-only="true"
                  display-property="name"
                  >
                  <auto-complete source="users.frontEnds"
                                display-property="name"

                                 min-length="0"
                                 debounce-delay="0"
                                 max-results-to-show="10"></auto-complete>
                </tags-input> -->
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="dropdown">Developers:</label>
            <div class="col-sm-10" id="dropdown">
                <select class="js-example-basic-multiple" multiple="multiple" style="width:100%"
                        ng-model="project.developers">
                    <optgroup label="Front-End">
                        <option ng-repeat="front in users.frontEnds" value="{{front._id}}">{{front.name}}</option>
                    </optgroup>
                    <optgroup label="Back-End">
                        <option ng-repeat="back in users.backEnds" value="{{back._id}}">{{back.name}}</option>
                    </optgroup>
                    <optgroup label="Full-Stack">
                        <option ng-repeat="full in users.fullStack" value="{{full._id}}">{{full.name}}</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="updateProject()">
                  Update
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $(".js-example-basic-multiple").select2();
    });
</script>
